extends layout

block content
    if firsttime
        div
            h1 What users are present?
            form(action='/suggest',method='post')
                div(data-role='fieldcontain')
                    fieldset(data-role='controlgroup')
                        label(for='usernames') Users: 
                        div#nameslist
                            for username in usernames
                                div.test
                                    input(id=username, type='checkbox',name='usernames', value=username)
                                    label(for=username)
                                        | #{username}
                                    br
                        div
                            label(for='playercount') Player Count: 
                            input(type='number', name='playercount')
                div(data-role='fieldcontain')
                    input(type='submit',value='Submit',data-transition='fade', data-theme='c')
    else
        div
            h1 
                | Games suggestions list
            ul
                for s in suggestions
                    li=s